name: "FROST: run tests, examples and benchmark under Valgrind (CMake)"

on:
  push:
    branches:
      - frost
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  frost-valgrind-cmake:
    name: "Test under Valgrind via CMake (${{ case(matrix.bip340_mode == 'ON', 'BIP340', 'RFC9591') }} mode)"
    runs-on: ubuntu-24.04
    # Use fedora:43 to compile using gcc-15.2
    container:
      image: fedora:43
    strategy:
      matrix:
        bip340_mode: [ON, OFF]
    steps:
      - name: Install build dependencies and Valgrind
        run: |
          dnf install -y \
              cmake \
              gcc \
              python3 \
              valgrind
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Build with CMake (only enabling FROST, tests, examples and benchmark)
        run: |
          mkdir build
          cd build
          # please keep "-DSECP256K1_*" options sorted via "LC_ALL=C sort"
          cmake \
              -DCMAKE_C_FLAGS="-Werror" \
              -DCMAKE_BUILD_TYPE="Release" \
              -DSECP256K1_BUILD_BENCHMARK=ON \
              -DSECP256K1_BUILD_CTIME_TESTS=OFF \
              -DSECP256K1_BUILD_EXAMPLES=ON \
              -DSECP256K1_BUILD_EXHAUSTIVE_TESTS=OFF \
              -DSECP256K1_BUILD_TESTS=ON \
              -DSECP256K1_ENABLE_MODULE_ECDH=OFF \
              -DSECP256K1_ENABLE_MODULE_ELLSWIFT=OFF \
              -DSECP256K1_ENABLE_MODULE_EXTRAKEYS=OFF \
              -DSECP256K1_ENABLE_MODULE_FROST=ON \
              -DSECP256K1_ENABLE_MODULE_FROST_BIP340_MODE=${{ matrix.bip340_mode }} \
              -DSECP256K1_ENABLE_MODULE_MUSIG=OFF \
              -DSECP256K1_ENABLE_MODULE_RECOVERY=OFF \
              -DSECP256K1_ENABLE_MODULE_SCHNORRSIG=OFF \
              -DSECP256K1_EXPERIMENTAL=ON \
              ..
          make -j
      - name: run the FROST example under Valgrind
        run: |
          valgrind \
              --show-error-list=yes \
              --leak-check=yes \
              --error-exitcode=17 \
              "${GITHUB_WORKSPACE}/build/bin/frost_example"
      - name: run the FROST benchmark under Valgrind (10 iterations)
        run: |
          export SECP256K1_BENCH_ITERS=10
          valgrind \
              --show-error-list=yes \
              --leak-check=yes \
              --error-exitcode=17 \
              "${GITHUB_WORKSPACE}/build/bin/bench" frost
      - name: run the FROST tests under Valgrind
        run: |
          valgrind \
              --show-error-list=yes \
              --leak-check=yes \
              --error-exitcode=17 \
              "${GITHUB_WORKSPACE}/build/bin/tests"
