name: "FROST: run tests, examples and benchmark under Valgrind (autotools)"

on:
  push:
    branches:
      - frost
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  frost-valgrind-autotools:
    runs-on: ubuntu-24.04
    # Use fedora:43 to compile using gcc-15.2
    container:
      image: fedora:43
    steps:
      - name: Install build dependencies and Valgrind
        run: |
          dnf install -y \
              autoconf \
              automake \
              gawk \
              gcc \
              libtool \
              pkg-config \
              valgrind
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: prepare the build (only enabling FROST, tests, examples and benchmark)
        run: |
          ./autogen.sh
          # please keep configuration options sorted via "LC_ALL=C sort"
          ./configure \
              --disable-coverage \
              --disable-exhaustive-tests \
              --disable-module-ecdh \
              --disable-module-ellswift \
              --disable-module-extrakeys \
              --disable-module-recovery \
              --disable-module-schnorrsig \
              --enable-benchmark \
              --enable-examples \
              --enable-experimental \
              --enable-module-frost \
              --enable-option-checking \
              --enable-tests
      - name: build the project
        run: make -j
      - name: run the FROST example under Valgrind
        run: |
          valgrind \
              --show-error-list=yes \
              --leak-check=yes \
              --error-exitcode=17 \
              ./frost_example
      - name: run the FROST benchmark under Valgrind (10 iterations)
        run: |
          export SECP256K1_BENCH_ITERS=10
          valgrind \
              --show-error-list=yes \
              --leak-check=yes \
              --error-exitcode=17 \
              ./bench frost
      - name: run the FROST tests under Valgrind
        run: |
          valgrind \
              --show-error-list=yes \
              --leak-check=yes \
              --error-exitcode=17 \
              ./tests
